[submodule "contracts/vulnerable-contracts/lib/forge-std"]
	path = contracts/vulnerable-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/vulnerable-contracts/lib/openzeppelin-contracts"]
	path = contracts/vulnerable-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
